.form-control{
    
    width: 40%;
    margin-left: 4%;
    margin-top: 9px;
}
form{
    
    margin-top: 2%;
}
form h4, .form-actions{
    
    margin-left: 4%;
}
form label
{
  margin-left: 4%;
  font-weight: 900;
  font-size: larger;
}
form p{
    width: 45%;
    
}
.form-actions
{
    
}
a{
    color: white !important;
    
}
form p a {
    
 margin-top: 2%; 
    float: right;
}
.form_wrapper td{
    font-size: 18px;
     padding-left: 13px;
    
}
.border_around_with_td { 
    border: 1px solid #000; }
.logo{
    width: 50%;
}
.form_wrapper {
	width: 960px;
	margin: 45px auto;
	padding: 5px 0;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
        background-color: #FFF;
}
.form_wrapper table {
	border-collapse: collapse;
	
}
